.footer {
   background-color: var(--black);
   padding: 74px 82px;

   @media screen and (max-width: 768px) {
      padding: 74px 42px;
   }

   &__container {
      grid-gap: 20px;
      color: var(--white);
      display: grid;
      grid-template-columns: 320px auto;

      @media screen and (max-width: 768px) {
         grid-template-columns: 1fr;
      }
   }

   &__logo {
      display: flex;
      flex-direction: column;
      text-align: left;
   }

   &__nav {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 768px) {
         flex-direction: column;
         gap: 14px;
      }

      &--list li {
         margin: 10px 0;
      }
   }
}
