html {
   font-size: 100%;
   box-sizing: border-box;
}

*,
*::after,
*::before {
   padding: 0;
   margin: 0;
   box-sizing: inherit;
}

body {
   background-color: var(--white);
   font-family: var(--font-sans);
   font-size: 16px;
   overflow-x: hidden;
   color: var(--black);

   @media screen and (max-width: 47.9375em) {
      &.no-scroll {
         overflow: hidden;
      }
   }
}

ul,
ol {
   list-style: none;
}

img {
   max-width: 100%;
   height: auto;
}

a,
a::before,
a::after {
   text-decoration: none;
   color: inherit;

   &:focus {
      outline: none;
   }

   &:focus-visible {
      outline: 2px solid var(--red);
      outline-offset: 3px;
   }
}
