@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins&display=swap');

:root {
   --font-Poppins: 'Poppins', sans-serif;
   --font-sans: 'Open Sans', sans-serif;
   --font-normal: 400;
   --font-semiBold: 600;
   --font-Bold: 700;
}
